.chore {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chore a {
  width: 25px;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.445);
  padding: 5px 20px;
  background: rgb(189, 188, 189);
}

.chore input[type=checkbox] {
  align-self: center;
}

.chore label {
  width: 150px;
  word-wrap: break-word;
  padding-right: 5px;
}

.checked {
  text-decoration: line-through;
  color: gray;
}

.chore button {
  align-self: center;
  height: 28px;
}

.h3item {
  text-align: center;
}